
.container{
  
  height:100%;
  align-items:center;
  width:100%;
}
label{
  font-size:30px;
}
form{
  padding:20px;
  width:600px;
  font-size:20px;
  color:#FFF;
  display: inline-block;
  background-color:red;
}

form input{
  width:90%;
  padding:20px;
}
button{
  margin-top:20px;
  padding:15px 25px;
  background:#000;
  color:white;
  border:none;
}
button:hover{
 background:#012;
 font-size:bold;
}